.center {
    margin: auto;
    text-align: center;
    /* border: 3px solid #73AD21; */
    padding: 10px;
  }
  table, th, td {
    border:1px solid black;
  }
  .one{
    /* border:1px solid black; */
    text-align: center;
    /* height: 100px; */
    font-size: 20px;
  }
  .center{
    text-align: center;
  }