
<!-- <div class="center">
<img src="https://www.gamemonday.com/wp-content/uploads/2021/11/Fate-Grand-Order-151121-01.jpg" width="400" height="300" margin >

<h1>University : burapha university</h1>
้<h2>Fullname : Pomrapee rachasuk</h2>
<h2>Nickname : Pram</h2> -->
<!-- <input type="text">   -->

<!-- <input [(ngModel)]="firstname">
<button type="button" (click)="confirm()" >Click</button>
<h1>NAME : {{ myname }}</h1>
</div>

 

<table style="width:100%">
  <tr>
    <th>FName</th>
    <th>LNAME</th>
    <th>AGE</th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{book.fname}}</td>
    <td>{{book.lnaem}}</td>
    <td>{{book.age}}</td>
  </tr>
</table>
    <br>
    <br>
    <br> -->
<!-- <div>
  <input [(ngModel)]="fullname">
  <button type="button" (click)="input()" >Click</button>

  <app-com1 [reviews]="myname" (forage)="onNotifyclick($event)"></app-com1>
  <p>{{showforage}}</p>
</div> -->

<!-- <input [(ngModel)]="numberjar">
<button type="button" (click)="calgrade()" >Click</button>
<p>{{result}}</p>  -->

<router-outlet></router-outlet>
