<div class="area" >
    <ul class="circles"> 
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
<div class="center" >
<p > แสดงข้อมูล </p> 
</div>
    <table >
        <tr>
            <td>ชื่อ : </td>
            <td>{{firstnameinfo}}</td>
        </tr>
        <tr>
            <td>นามสกุล : </td>
            <td>{{lastnameinfo}}</td>
        </tr>
        <tr>
            <td>อายุ : </td>
            <td>{{agenameinfo}}</td>
        </tr>
        <tr>
            <td>ชั้นปีที่ : </td> 
            <td>{{levelinfo}}</td>
        </tr>
        <tr>
            <td>มหาลัย : </td>
            <td>{{collegenameinfo}}</td>
        </tr>
    </table>
 

 
    <button (click)="gobackpage()"> BACK </button>
 

 
    <p *ngIf="checkli" > 
        <a href="{{linkfacebookinfo}}"> 
            <img  [src]="myimage" alt="facebook">
        </a>
    </p>    
    
</ul>
</div >