<div class="area" >
  <ul class="circles"> 
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
<div class="center" >
  <p > กรอกข้อมูล </p> 
</div>
  <form [formGroup]="information" (ngSubmit)="gotonextpage()" >

    <table >
      <tr>
        <td>ชื่อ : </td>
        <td><input type="text" formControlName="firstname"></td>
      </tr>
      <tr>
        <td>นามสกุล : </td>
        <td><input type="text" formControlName="lastname"></td>
      </tr>
      <tr>
        <td>อายุ : </td>
        <td><input type="number" formControlName="age"></td>
      </tr>
      <tr>
        <td>ชั้นปีที่ : </td>
        <!-- <td><input type="" formControlName="level"></td> -->
        <td>
            <select  formControlName = "level" >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
        </td>

      </tr>
      <tr>
        <td>มหาลัย : </td>
        <td><input type="text" formControlName="college"></td>
      </tr>
      <tr>
        <td>link facebook : </td>
        <td><input type="text" formControlName="linkfacebook"></td>
        <!-- <app-information [linkface]="linkfacebook" ></app-information> -->
      </tr>
       
    </table>
  
     
      <button type="submit" > ยืนยันข้อมูล </button>
     

  </form>
 
  </ul>
</div >
  